td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 130px;
}

.unitLabels {
	text-align: left !important;
	margin-left: 20%;
}

td:first-of-type, td:first-of-type > div {
	height: 200px;
	width: 250px;
}

.table-row td {
	height: 50px;
}

form a {
	margin-left: 5px;
}

.pagination li {
	margin: 3px;
	padding: 10px;
	border: 1px solid black;
	display: inline;
}

.error {
	color: red;
}